// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Settings
@import "settings";

// Foundation
@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;

// Atomic Design
@import 'abstracts/base';
@import 'atoms/base';
@import 'molecules/base';
@import 'organisms/base';
@import 'templates/base';
@import 'vendors/base';

//font-family: 'Noto Sans KR', sans-serif;

.tags-li-x a {
    float: right;
}

.check-for-comments {

    .start-conversation {
        border-radius: rem-calc(4);
        border: solid rem-calc(1) rgba(188, 188, 188, 0.54);
        padding: rem-calc(18) rem-calc(36);
        width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        cursor: pointer;
        margin: rem-calc(28) 0 rem-calc(18) 0;
        font-size: rem-calc(18);

        &.has-comments {
            display: none;
        }
    }
}

.tox, .tox-tinymce {
    height: rem-calc(300) !important;
}

.textarea {
    min-height: 300px !important;
}

.comment-form {
    display: none;

    &.has-comments {
        display: block;
    }
}

.comment-item {
    font-size: rem-calc(16);
}


.comment-count {
    display: flex;
    justify-content: flex-end;

    .count-text {
        position: absolute;
        left: rem-calc(14);
        font-size: rem-calc(14);
        color: #575353;
        top: rem-calc(4);
    }

    img {
        height: rem-calc(28);
    }


    span {

        &.counter {
            position: absolute;
            width: rem-calc(34);
            height: rem-calc(24);
            margin-left: rem-calc(0);
            margin-top: rem-calc(-2);
            margin-bottom: rem-calc(2);
            border-bottom: none;

        }

        &:nth-child(2) {

        }

    }
}


.read-more-button {
    border-bottom: solid rem-calc(1) #c4c4c4;
    color: #4c4c4c;
    margin: rem-calc(10) rem-calc(5);
    svg {
        height: rem-calc(12);
        top: rem-calc(1);
    }

    &:hover {
        color: #4c4c4c;
    }

    a:hover {
        color: #4c4c4c;
    }
}

.callout.success {
    position: fixed !important;
    z-index: 998 !important;
    padding: 20px 40px !important;
    width: 400px;
    display: flex;
    justify-content: center;
}



.section {
    margin: rem-calc(18) 0;
}


.accordion .accordion-item .accordion-title {
    padding: 1rem 0;
    border: none;
    color: #231616;
    font-size: 0.875rem;
    border-bottom: solid 0.0625rem #edeeed;
}


.form-group {
    margin: rem-calc(12) 0;
}


.blog-navigation {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .nav-item {
        margin: rem-calc(4) 0;

        a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin: rem-calc(8);
            width: rem-calc(238);
        }

        img, svg {
            height: rem-calc(52);
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
        }

        img {

        }

        svg {
            height: rem-calc(28);
            padding: rem-calc(4)
        }

        &:hover {
            background: rgba(60, 63, 65, 0.09);
        }
    }
}

.select2-dropdown  {
    border: 1px solid #aaa;

}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa;
    display: flex;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
}

.select2-container .select2-choice {
    height: 34px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
}

.select2-container .select2-choice .select2-chosen { margin-top: 4px }
.select2-container .select2-choice abbr { top: 13px }
.select2-container .select2-choice,
.select2-container .select2-choice .select2-arrow {
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: #ccc;
}

.select2-container .select2-choice .select2-arrow {
    background-color: #fafafa;
    background-image: none;
    background: #fafafa;
    width: 22px;
}

.select2-container .select2-choice .select2-arrow b>span { margin: 4px 0 0 6px }
.select2-container.select2-container-active .select2-choice { border-color: #91acce }
.select2-container.select2-dropdown-open .select2-choice { border-bottom-color: #ccc }
.select2-drop {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.select2-drop:not(.select2-drop-above) { margin-top: -3px }
.select2-drop .select2-results { max-height: 300px }
.select2-drop .select2-results li {
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.select2-search {  }
.select2-search input,
.select2-search input:focus {
    background-image: none;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.select2-container.form-control {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
    margin: 0;
}
