@import '../abstracts/base';

.users-carousel, .owl-carousel.with-avatar {

  .item {
    position: relative;
    transition: width 200ms;

    svg {
      height: rem-calc(18);
      width: auto;
      float: right;
    }
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 rem-calc(6) rem-calc(8) rem-calc(-4) rgba(0, 0, 0, 0.2),
                0 rem-calc(6) rem-calc(4) 0 rgba(0, 0, 0, 0.19);
  }
}

.owl-carousel.with-avatar {

  .item {
    margin: rem-calc(12) 0;
    padding: rem-calc(12);
    border-radius: rem-calc(4);
    transition: ease all 100ms;

    &:hover {
      background: #f8f8f8;
    }
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 rem-calc(6) rem-calc(8) rem-calc(-4) rgba(0, 0, 0, 0.2),
    0 rem-calc(6) rem-calc(4) 0 rgba(0, 0, 0, 0.19);
  }
}

.home-categories-carousel, .home-tags-carousel {
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home-categories-carousel {
  .item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}


.user-data-group {
  display: flex;
  flex-flow: column;
  font-family: 'Quicksand', sans-serif;
  margin-top: rem-calc(12);

  .dots-button {
    height: rem-calc(22);
    box-shadow: none;
  }

  .data-user, .data-origin {
    text-align: left;
  }

  .data-user {
    margin-top: rem-calc(2);
  }

  .data-origin {

  }
}

.user-container {
  overflow: hidden;
  position: relative;

  img {
    &.user-dots-menu {
      margin-left: rem-calc(-40);
    }
  }
  &:hover > img {
    //margin-left: rem-calc(-40);
  }

  & > img {
    position: relative;
    transition: margin-left 200ms;
    z-index: 99;
  }
  .user-options {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: rem-calc(40);
    background: rgba(183, 183, 183, 0.27);
    border: solid rem-calc(1) #dddcdcf0;

    .grid-y {
      height: 100%;

      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      }

      .user-select-option {
        box-shadow: inset rem-calc(1) rem-calc(1) rem-calc(1) 0 #c7c7c724;
        cursor: pointer;

        &:hover {
          background: rgba(238, 243, 255, 0.04);
        }
      }

      .fa-user, .fa-envelope {
        color: #383838;
      }
    }
  }
}
