@import '../abstracts/base';

// scroll animation
.module {
  min-height: rem-calc(200);
}

.module:nth-child(odd) {}

.come-in {
  transform: translateY(#{rem-calc(250)});
  animation: come-in 0.8s ease forwards;
  &:nth-child(odd) {
    animation-duration: 0.6s;
  }
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}


table {
  &.data-table {
    th:first-child {
      text-align: center;
    }

    td:last-child {
      position: relative;
      text-align: center;
    }
  }
}

textarea {
  height: 100%;
  min-height: rem-calc(380);
}





.tag-shape {
    position: relative;
    display: inline-block;
    background: #f3f3f3;
    margin-right: rem-calc(18);
    margin-bottom: rem-calc(10);
    height: rem-calc(32);
    line-height: rem-calc(32);
    padding: 0 rem-calc(6) 0 rem-calc(6);
    font-weight: 100;
    cursor: pointer;
    color: #3b3b3b;
    font-size: rem-calc(14);

    &:hover {
        text-shadow: rem-calc(0.5) 0 0 rgba(71, 71, 71, 0.2);
        transition: ease all 100ms;
        .tag-after::after {
            background: #f3f3f3;
        }
    }

    &::after {
        position: absolute;
        content: "";
        right: rem-calc(-18);
        width: rem-calc(1);
        height: 0;
        border-left: rem-calc(18) solid #f3f3f3;
        border-top: rem-calc(16) solid transparent;
        border-bottom: rem-calc(16) solid transparent;
        top: 0;
    }

    .tag-after {
        &::after {
            content: '';
            width: rem-calc(6);
            height: rem-calc(6);
            border-radius: 50%;
            position: absolute;
            background: #d0d0d0;
            border: solid rem-calc(1) slategrey;
            margin-left: rem-calc(8);
            margin-top: rem-calc(13);
            z-index: 9999;
        }
    }
}

.category-shape {
    position: relative;
    display: inline-block;
    background: #f3f3f3;
    margin-right: rem-calc(18);
    margin-bottom: rem-calc(4);
    margin-top: rem-calc(4);
    min-height: rem-calc(38);
    line-height: rem-calc(30);
    padding: rem-calc(4) rem-calc(18);
    font-weight: 100;
    cursor: pointer;
    color: #3b3b3b;
    border-radius: rem-calc(3);
}

.blog-post-container {
    .blog-image {
        img {
            width: 100%;
        }
    }

    .blog-post {
        margin: rem-calc(22) 0;
    }
}

.featured-image {
    img {
        width: 100%;
    }
}

.blog-featured-image {

}

.blog-title{
    //height: rem-calc(112);
    height: rem-calc(98);
    margin: rem-calc(8) 0;
}

.blog-body {
    height: rem-calc(142);
}

.blog-published {

}

.blog-cta {
    display: flex;
    justify-content: flex-end;
}
