@import '../abstracts/base';

body, html {
    overflow-x: hidden;
    box-sizing: border-box;
    //background: #f0f5f5;
    background: white;

}

body {
    font-family: 'Nunito', sans-serif;

    progress {
        opacity: 0;
    }

    &.scroll-progress {
        progress {
            opacity: 1;
        }
    }
}

main {
    position: relative;
    padding-bottom: rem-calc(108);
}


.create {

    .post-submit-form {
        display: flex;
        flex-direction: column;

        @include set-breakpoint(mobile, up) {
            width: 90%;
        }

        @include set-breakpoint(laptop, up) {
            width: rem-calc(600);
        }

        label {
            padding: 0 0 0 3px;
            margin-bottom: 3px;
        }

        textarea, input[type='text'] {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
            border-color: #FFFFFF;
            border-image: none;
            border-radius: rem-calc(6);
            border-style: none solid solid none;
            border-width: medium 1px 1px medium;
            box-shadow: 0 rem-calc(1) rem-calc(2) rgba(0, 0, 0, 0.12) inset;
            color: #555555;
            font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
            font-size: rem-calc(16);
            line-height: 1.4em;
            padding: rem-calc(5) rem-calc(8);
            transition: background-color 0.2s ease 0s;
            width: 100%;

            &:focus {
                //background: none repeat scroll 0 0 #fefefe;
                //outline-width: 0;
                //border: none;
            }
        }

        textarea {
            height: auto;
            min-height: rem-calc(200);
        }


        a[type="submit"] {

        }
    }

}

.user-avatar {
    .menu-navigation & {
        height: rem-calc(52);
    }
}


button[type="submit"] {
    padding: rem-calc(10) rem-calc(16);
}


.button {
    &.logout {
        background: #de4949;

        span {
            padding: rem-calc(8) rem-calc(14);
        }

        &:focus, &:hover {
            background: #de4949;
        }
    }
}



.user-initials {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    border-radius: rem-calc(0);
    padding: 0 rem-calc(14);
    font-size: rem-calc(14);
    bottom: rem-calc(15);
    width: rem-calc(52);
}


form[enctype="multipart/form-data"] {
    display: flex;
    flex-flow: column;
}


.profile {
    .dots-button {
        height: rem-calc(22);
    }
}

.home-posts-carousel {
    .item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        border-radius: rem-calc(2);
        background: #f0f5f5;
        &:hover {
            //transition: all 200ms;

            .read-more-container {
                //background: rgb(255, 255, 255);
            }
        }

        p {

        }

        a {
            align-self: flex-start;
            padding: rem-calc(0) rem-calc(2);

            svg {
                top: rem-calc(2);
                width: auto;
                height: rem-calc(14);
                padding-left: rem-calc(2);

            }
        }
    }
}

// page
.blog-index {

    .item {
        padding: rem-calc(8);
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        //background: white;
        border-radius: rem-calc(2);
        background: #fbfafa;

        p {
            height: 100%;
        }

        a {
            align-self: flex-start;
            padding: rem-calc(4) rem-calc(2);

            svg {
                position: relative;
                top: rem-calc(2);
                height: rem-calc(14);
                padding-left: rem-calc(2);
                width: auto;
            }
        }
    }
}


.profile-menu-modal {
    display: none;
    min-width: rem-calc(300);
    min-height: rem-calc(400);
    position: absolute;
    top: rem-calc(48);
    background: white;
    color: #0a0a0a;
    box-shadow: 0 rem-calc(16) rem-calc(24) rem-calc(2) rgba(0, 0, 0, 0.14),
    0 rem-calc(6) rem-calc(30) rem-calc(5) rgba(0, 0, 0, 0.12),
    0 rem-calc(8) rem-calc(10) rem-calc(-5) rgba(0, 0, 0, 0.4);

    .user-avatar {
        height: rem-calc(80);
        width: rem-calc(80);
        border-radius: 50%;
        position: relative;
        top: rem-calc(-6);
        left: rem-calc(14);
        padding: rem-calc(8);
    }

    .user-details {
        position: relative;
        left: rem-calc(34);

        .username {
            font-weight: 600;
            font-size: rem-calc(15);
        }

        .email {
            font-size: rem-calc(12);
        }
    }

    .menu-logout {
        span {
            padding: 0 rem-calc(4);
        }
    }

    .menu-hover {

        img:nth-child(2) {
            height: rem-calc(34);
            position: relative;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            font-size: rem-calc(14);
        }
    }

    &.menu-open {
        display: flex;
        ul {
            flex-flow: column;
            width: 100%;

            li {
                a, span {
                    width: 100%;
                }

                &.profile-block {
                    display: flex;
                    flex-flow: row nowrap;
                    padding: rem-calc(22) 0 0 0;
                    border-bottom: solid rem-calc(1) rgba(156, 156, 156, 0.31);

                    p {
                        display: flex;
                        margin-bottom: rem-calc(4);
                    }

                }
            }
        }
    }

}

.posts {
    .td-user {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //flex-flow: column nowrap;
        vertical-align: center;
        display: table-cell;
        span {
            text-align: center;
        }
    }
}
.user-credits {
    p {
        text-transform: capitalize;
    }
}

.menu-file {
    height: rem-calc(42);
    top: rem-calc(-4);
    position: relative;
}

table {
    &.stacked.unstriped {
        th, tr, td {
            text-align: left;
        }
    }
}

section {
    margin-bottom: rem-calc(38);
}

.tags-section, .categories-section {
    margin: 38px 0;
}

.show-single-tag {
    .grid-x {
        .cell {
            &:nth-child(1){

            }
            &:nth-child(2){
                justify-content: flex-end;

                .component-button {
                    align-items: center;
                    margin-left: rem-calc(4);
                }
            }
            &:nth-child(3){
            }
        }
    }
}


// * Production
// _________________

.tag-label-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin: rem-calc(8) 0;

    &::after {
        content: '';
        position: absolute;
        z-index: 999;
        //background: linear-gradient(to right, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff);
        height: rem-calc(25);
        width: 100%;
    }
}

.post-user-avatar {
    height: rem-calc(32);
    width: rem-calc(32);
    border-radius: 50%;
}

.action-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .component-button:nth-child(1) {
        margin-right: rem-calc(8);
    }
}

.user-unit {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        margin-left: rem-calc(8);
        font-size: rem-calc(14);
    }

}

.category-unit {
    width: max-content;
    margin-bottom: rem-calc(6);
    padding: rem-calc(4) 0;
    font-size: rem-calc(14);
    font-weight: 600;
}

.read-more-container {
    margin: rem-calc(10) 0;
    width: max-content;
    transition: ease all 200ms;
    border-bottom: 1px solid #5f5f5f;
    position: absolute;
    bottom: 0;
    right: rem-calc(14);

    &:hover {
        //background: rgba(27, 108, 188, 0.52);
        transition: ease all 200ms;
    }
    a {
        color: black;
    }
}

.est-read {
    span {
        font-size: rem-calc(14);
    }
    img {
        height: rem-calc(24);
    }
}

.author-block {
    display: flex;
    flex-flow: column;

    .author-image {
        border-radius: 50%;
        height: rem-calc(40);
        width: rem-calc(40);
    }

    .cell {
        &:nth-child(1) {
            margin: rem-calc(4) 0;
            flex-flow: row nowrap;
            display: flex;
            align-items: center;
            span {
                padding: rem-calc(16) rem-calc(20);
            }
        }
        &:nth-child(2) {

        }

    }
}

.comments-title {
    margin-bottom: rem-calc(18);

    img {
        height: rem-calc(50);
    }
}

.comments-block {
    margin: 0 rem-calc(12);
    padding: rem-calc(28) 0;
}

.comments-unit {
    margin: rem-calc(4) 0;
}


.estimated-unit {
    span {
        display: flex;
        margin: rem-calc(4) 0;
    }

    img {
        height: rem-calc(18);
    }
}


.new-post {
    img {
        transform: scaleX(-1);
    }
}

.page-breadcrumbs {
    display: inline-flex;
    i {
        transform: rotate(40deg);
        font-size: rem-calc(10);
    }
}




/* Search */
.search-form {
    height: rem-calc(40);
}

.input-group.search-group {
}

.input-group .form-control,
.input-group .form-control:focus {
    padding: rem-calc(10) rem-calc(20);
    width: rem-calc(380);
    color: #000;
    cursor: auto;
    background-color: transparent;
    border-color: #e6e6e6;
}

.input-group .form-control::placeholder {
    color: transparent;
}

.input-group .form-control:focus {
    box-shadow: 0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.075) inset;
    border-color: #e6e6e6;
}

.form-control.search-control {
    background: url(http://milansavov.com/img/zoom.svg) no-repeat right 11px center / 25px;
    border: rem-calc(1) solid #ddd;
    border-radius: rem-calc(2);
    color: transparent;
    font-size: rem-calc(16);
    margin: 0;
    padding: 0;
    outline: 0 none;
    z-index: 10;
    cursor: pointer;
    transition: width 0.25s;
}

.user-options-modal {
    display: none;
    height: 200px;
    width: 200px;
    background: black;
    position: absolute;

    &.user-dots-menu {
        display: block;
    }
}
