.outer {
    margin: 0 auto;
    max-width: 800px;
}

#big .item {
    background: #ec6e46;
    padding: 120px 0px;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;

    img {
        max-width: rem-calc(400);
    }
}

#thumbs .item {
    background: #C9C9C9;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#thumbs .item h1 {
    font-size: 18px;
}

#thumbs .current .item {
    background: #FF5722;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

//#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
//    background: #333;
//    width: 22px;
//    line-height: 40px;
//    height: 40px;
//    margin-top: -20px;
//    position: absolute;
//    text-align: center;
//    top: 50%;
//}
//
//#big.owl-theme .owl-prev {
//    left: 10px;
//}
//
//#big.owl-theme .owl-next {
//    right: 10px;
//}
//
//#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev {
//    background: #333;
//}
