@import '../abstracts/base';


.js-cookie-consent, .cookie-consent {
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(18) 0;
    box-shadow: 0 0 0 rem-calc(1) #b9b9b952;
    z-index: 98888;

    .js-cookie-consent-agree, .cookie-consent__agree {
        padding: rem-calc(12);
        background: #2ab27b;
        margin: 0 rem-calc(18);
        cursor: pointer;
        font-weight: 600;
        color: white;
    }

}


