@import '../abstracts/base';

/** font awesome **/
//.icon {
//  &::after, &::before {
//    @include set-fonttype(iconset);
//    font-size: rem-calc(24);
//  }
//}
//
//.angle-right {
//  &::after {
//    content: $fa-var-angle-right;
//  }
//}
//
//.angle-left {
//  &::after {
//    content: $fa-var-angle-left;
//  }
//}