@import '../abstracts/base';

.hamburger-container {
  @include set-breakpoint(mobile, up) {
    display: flex;
  }
  @include set-breakpoint(phablet, up) {
    display: none;
  }
}

.hamburger-navigation {
  width: rem-calc(40);
}

.hamburger-menu {
  display: block;
  position: fixed;
  top: rem-calc(22);
  left: rem-calc(15);
  width: rem-calc(30);
  z-index: $z-indexhamburger;

  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  input {
    display: block;
    width: rem-calc(40);
    height: rem-calc(32);
    position: absolute;
    top: rem-calc(-7);
    left: rem-calc(-5);
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: rem-calc(33);
    height: rem-calc(4);
    margin-bottom: rem-calc(5);
    position: relative;
    background: #cdcdcd;
    border-radius: rem-calc(3);
    z-index: 1;
  }
}