@import '../abstracts/base';


@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

.relative-unit {
  position: relative;
}

.sticky-unit {
  position: sticky;
}

.absolute-unit {
  position: absolute;
}

.fixed-unit {
  position: fixed;
}

.messages-notification {
  min-height: rem-calc(24);
  min-width: rem-calc(66);
  max-width: rem-calc(400);

  border-radius: rem-calc(4);
  padding: rem-calc(8) rem-calc(18);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  position: absolute;
  right: -99em;
  z-index: 9999;
  opacity: 0;

  p, span, h1, h2, h3, h4, h5, h6 {
    //font-family: 'Arimo', sans-serif;
      color: white;
  }

  &.success {
    background: #2ab27b;
  }

  &.error {
    background: lightcoral;
  }

}

.callout {
    margin: 1rem 0 !important;
}
