@import '../abstracts/base';

// Scroll Progress visilualization
progress {
	position: fixed;
	left: 0;
	width: 100%;
	height: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: #1779ba;
	z-index: 1099;
	transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
	opacity: 1;
    display: block;
}

progress::-webkit-progress-bar {
	background-color: transparent;
	z-index: 10;
}

progress::-webkit-progress-value {
	background-color: #1779ba;
	z-index: 10;
}

progress::-moz-progress-bar {
	background-color: #1779ba;
	z-index: 10;
}
