@import '../abstracts/base';

.entry-modal {
  justify-content: center;
  display: flex;
}

.reveal-overlay {
  z-index: $z-indexReveal-overlay;
}

.molecule-entry {
  margin: 0 auto;
  border-radius: 2px;
  padding: 5px;
  font-family: 'Bai Jamjuree', sans-serif;
  max-width: rem-calc(420);

  .cell & {
    margin: rem-calc(42) 0;
  }

  label {
    color: #696768;
    padding: rem-calc(5);
  }

  input {
    border-radius: rem-calc(2);
    border: none;
    border-bottom: solid 2px transparent;
  }

  input[type='button'] {
    width: rem-calc(288);
    border-radius: rem-calc(2);
    font-family: 'Asap Condensed', sans-serif;
    letter-spacing: 0.5px;
  }

  h1 {
    text-align: center;
  }

  :focus {
    border: none;
    border-bottom: solid 2px #5fbc6e;
  }

  .input-group-label {
    border: solid rem-calc(1) #ecf4ff;
    background: #ffffff;
  }
}