@import '../abstracts/base';

.footer {
    margin-top: rem-calc(24);
    width: 100%;
    height: rem-calc(66);
    background: #ffffff;
    border-bottom: solid rem-calc(1) rgba(177, 177, 177, 0.36);
    border-top: solid rem-calc(1) rgba(177, 177, 177, 0.36);
    z-index: $z-indexHeader;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: rem-calc(-20);
        margin-right: rem-calc(4);
    }

    .laravel-foundation-info {
        display: inline-flex;


        li {
            padding: rem-calc(4);
        }

    }
}
