@import '../abstracts/base';

.collapsable {
    .grid-x {
        .cell {
            &:nth-child(1) {

            }
            &:nth-child(2) {
                @include set-breakpoint(mobile, up) {
                    display: none;
                }
                @include set-breakpoint(tablet, up) {
                    display: block;
                }
            }
        }
    }
}

.grid-blocks {

    .top-left, .top-right, .bottom-left, .bottom-right, .middle-left, .middle-right {
      margin: 0 rem-calc(-10);
      padding: rem-calc(122) rem-calc(10) rem-calc(72) rem-calc(10);
      width: calc(100% + #{rem-calc(20)});
    
      @include set-breakpoint(tablet, up) {
        position: relative;
        margin: 0;
        width: 50%;
      }
    
      &::before {
        @include set-breakpoint(tablet, up) {
          content: '';
          position: absolute;
          background: inherit;
          height: 100%;
          width: 99em;
          top: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    .top-left, .bottom-left, .middle-left {
      @include set-breakpoint(tablet, up) {
        padding-left: 0;
          &::before {
            right: 100%;
          }
      }
    }

    .top-right, .bottom-right, .middle-right {
      @include set-breakpoint(tablet, up) {
        padding-right: 0;
        &::before {
          left: 100%;
        }
      }
    }

    .top-right {
      background: #1ed760;
    }

    .top-left {
      background: #d7775c;
      height: 484px;
    }
    
    .middle-right {
      background: black;
    }

    .middle-left {  
      background: royalblue;
    }
    
    .bottom-right {
      background: #ffa765;
    }

    .bottom-left {
      background: #ff28be;
    }
}


.grid-block {
    //margin-top: rem-calc(-6);

    .top-left, .top-right {
        width: 100%;

        @include set-breakpoint(tablet, up) {
            position: relative;
            margin: 0;
            width: 50%;
        }

        &::before {
            @include set-breakpoint(tablet, up) {
                content: '';
                position: absolute;
                background: inherit;
                height: 100%;
                width: 99em;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    .top-left {
        @include set-breakpoint(tablet, up) {
            padding-left: 0;
            &::before {
                right: 100%;
            }
        }
    }

    .top-right {
        @include set-breakpoint(tablet, up) {
            padding-right: 0;
            &::before {
                left: 100%;
            }
        }
    }




















    .top-left, .top-left-22 {
        background: #fbfafa;
    }

    .top-right, .top-right-2 {
        background: #fbfafa;
    }

    .top-left-22 {
        width: 100%;
        @include set-breakpoint(tablet, up) {
            position: relative;
            margin: 0;
            width: 78%;
        }

        &::before {
            @include set-breakpoint(tablet, up) {
                content: '';
                position: absolute;
                background: inherit;
                height: 100%;
                width: 99em;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    .top-right-2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include set-breakpoint(tablet, up) {
            position: relative;
            margin: 0;
            width: 22%;
        }

        &::before {
            @include set-breakpoint(tablet, up) {
                content: '';
                position: absolute;
                background: inherit;
                height: 100%;
                width: 99em;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    .top-left-22 {
        @include set-breakpoint(tablet, up) {
            padding-left: 0;
            &::before {
                right: 100%;
            }
        }
    }

    .top-right-2 {
        @include set-breakpoint(tablet, up) {
            padding-right: 0;
            &::before {
                left: 100%;
            }
        }
    }

}
