@import '../abstracts/base';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: rem-calc(66);
    background: #ffffff;
    border-bottom: solid rem-calc(1) rgba(177, 177, 177, 0.36);
    z-index: $z-indexHeader;
    transition: top 0.2s ease-in-out;

    @include set-breakpoint(phablet, down) {
        position: sticky;
    }

    &.nav-up {
        top: rem-calc(-66);
    }

    .menu-navigation {
        position: relative;
        width: 100%;
    }

    .header-navigation {
        position: absolute;
        height: rem-calc(66);
        top: 0;
        left: $off-canvasWidth;
        //width: calc(100% - 268px); // $off-canvasWidth
        width: calc(100% - #{$off-canvasWidth});

        .grid-x {
            height: 4.125rem;
        }

        .cell {
            display: flex;
            align-items: center;

            &:nth-child(1) {
                justify-content: flex-start;
            }

            &:nth-child(2) {
                justify-content: flex-end;
            }


            a {
                display: flex;
                justify-items: center;
                border-radius: rem-calc(4);
            }

            .entry-button {
                font-size: rem-calc(28);
                color: $black-3b;
                width: rem-calc(38);
            }

        }


        .header-logo-content {
            width: $off-canvasWidth;
            height: $heightHeader;
            font-size: rem-calc(22);
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: solid rem-calc(1) rgba(177, 177, 177, 0.36);
            @include set-breakpoint(mobile, up) {
                padding-left: rem-calc(38);
            }
            @include set-breakpoint(phablet, up) {
                padding-left: rem-calc(0);
            }
        }

    }
}

.links {
    position: absolute;
    height: 100%;
    width: $off-canvasWidth;
    border-right: solid rem-calc(1) rgba(177, 177, 177, 0.36);

    & > a {
        color: #636b6f;
        font-size: rem-calc(12);
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 rem-calc(25);

        position: relative;
        top: rem-calc(2);

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: $off-canvasWidth;

        span {
            position: relative;

            @include set-breakpoint(mobile, up) {
                left: 16px;
            }

            @include set-breakpoint(phablet, up) {
                left: 0;
            }
        }
    }
}
