@import '../abstracts/base';

@media screen and (min-width: 638px) and (max-width: 640px) {
    .off-canvas {
        transition: none !important;
    }
}

.position-left {
    overflow-x: hidden;
}




// Canvas right
.off-canvas.is-transition-overlap {
    z-index: 114;

    .panel-close {
        border-bottom: solid rem-calc(1) #f0f0f0;
        border-top: solid rem-calc(1) #f0f0f0;
        margin-top: rem-calc(66);
        height: rem-calc(60);
        position: relative;

        &:hover .close-button:hover {
            cursor: pointer;
        }
    }

    .admin-panel-content {
        padding: rem-calc(12);
    }
}

.off-canvas-content {
    position: relative;
    overflow: hidden;
    min-height: rem-calc(588);

    @include set-breakpoint(mobile, up) {
        padding-top: rem-calc(0);

    }
    @include set-breakpoint(tablet, up) {
        padding-top: rem-calc(66);
    }

}

.canvas-logo-content {
    position: relative;
    top: 0;
    width: 100%;
    height: rem-calc(66);
    border-bottom: solid rem-calc(1) rgba(177, 177, 177, 0.36);
    border-right: solid rem-calc(1) rgba(177, 177, 177, 0.36);
    box-shadow: inset rem-calc(-13) 0 rem-calc(20) rem-calc(-13) rgba(10, 10, 10, 0.25);
    z-index: $z-indexHeader;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-menu .is-accordion-submenu a {
    padding: 0;
}

.accordion-menu {

    .nested.is-accordion-submenu {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    li {
        &.sub-lv {
            margin-left: rem-calc(-4);

            a {
                position: relative;
                line-height: 2.6;
                padding-left: rem-calc(20);
                width: 102%;
            }

            svg {
                position: absolute;
                //left: rem-calc(200);
                right: rem-calc(22);
            }

        }
    }
}

.menu a, .menu .button {
    color: #515151;
    font-size: rem-calc(16);
}

.menu .is-active > a {
    background: inherit;
    color: inherit;
}

.js-off-canvas-overlay {
    background: rgba(0, 0, 0, 0.72);
}

.menu-hover {
    margin: rem-calc(6) 0;

    a:hover {
        background: rgba(225, 225, 225, 0.22);
    }

    &.with-sub-level {
        .sub-lv {
            img {
                height: rem-calc(22);
            }
        }
    }

    ul li a:hover {
        background: rgba(225, 225, 225, 0.22);
    }

    .submenu-toggle {
        width: 50px;
        height: 47px;
        margin-right: 2px;

        &:hover {
            background: rgba(225, 225, 225, 0.22);
        }

        &::after {
            border-color: #383838 transparent;
        }
    }

    a {
        display: flex;
        align-items: center;

        &:first-child {
            //border-bottom: solid 1px transparent;

            &:hover {
                //background: #b6b6b61a;
            }
        }
    }

    span {
        margin-left: rem-calc(10);
    }
}

.canvas-accordion-content {
    padding: rem-calc(12) rem-calc(0);

    img {
        height: rem-calc(24);
    }

    svg {
        height: rem-calc(18);
        width: auto;
        display: inline-flex;
        position: absolute;
        right: rem-calc(22);
    }
}

.sub-level svg {
    right: rem-calc(62);
    top: rem-calc(16);
}

.accordion-menu .is-accordion-submenu-parent {

    & > a::after {
        opacity: 0;
    }

    &[aria-expanded="true"] {
        svg {
            transform: rotate(90deg);
        }
    }
}

.has-submenu-toggle > a {
    margin-right: 50px;
}

.long-arrow-right {
    left: rem-calc(12);
    width: 100% !important;
    top: rem-calc(5);
}

.to-right {
    position: relative;
    left: rem-calc(18);
}
