@import '../abstracts/base';

.back-bar {
    padding: rem-calc(8);
}

.go-back {
    font-size: rem-calc(14);
    color: $black;
    border-radius: rem-calc(4);
    padding: rem-calc(4) rem-calc(8);
    margin-right: rem-calc(12);
    border: solid rem-calc(1) #3c3f41;

    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
        color: $black;
    }

    span {
        margin-left: rem-calc(2);
    }

    img {
        padding: rem-calc(2) rem-calc(0);
        border-radius: rem-calc(3);
        height: rem-calc(14);
        margin-top: rem-calc(-2);

    }
}

.breadcrumbs-bar {
    background: #fbfafa;
    border-top: solid rem-calc(1) #f8f8f85c;
    border-bottom: solid rem-calc(1) #f8f8f85c;
    padding: rem-calc(0) rem-calc(16) 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

.breadcrumbs {
    margin: rem-calc(20) 0;
    a {
        //color: #0a0a0a !important;
    }
}
