@import '../abstracts/base';

label {
    margin: rem-calc(4) 0;
}

.form-group {
    input {

    }
}

.component-button {
    display: flex;
    justify-content: flex-end;

    span {
        position: absolute;
        z-index: 99;
        //font-family: 'Noto Sans KR', sans-serif;
    }

    img {
        opacity: 0.1;
        transition: all 200ms;
    }

    button, input, a {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: rem-calc(40);
        color: white;
        font-size: rem-calc(16);
        border-radius: rem-calc(2);
        transition: .3s;
        overflow: hidden;
        margin: rem-calc(2) 0;
        padding: rem-calc(6) rem-calc(16);
        width: 100%;
        border: none;
        box-shadow: none;
        text-align: center;
        background: none;

        &:focus {
            outline: none;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, .5);
            width: rem-calc(90);
            height: 100%;
            left: 0;
            top: 0;
            opacity: .5;
            filter: blur(rem-calc(30));
            transform: translateX(rem-calc(-130)) skewX(-15deg);
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, .2);
            width: rem-calc(40);
            height: 100%;
            left: rem-calc(30);
            top: 0;
            opacity: 0;
            filter: blur(30px);
            transform: translate(-100px) skewX(-15deg);
        }

        &:hover {
            cursor: pointer;

            img {
                margin-left: rem-calc(0);
                transition: all 100ms;
                height: rem-calc(36);
                opacity: 0.3;
            }
        }

        &:hover::before {
            transform: translateX(300px) skewX(-15deg);
            opacity: .6;
            transition: .7s;
        }

        &:hover::after {
            transform: translateX(300px) skewX(-15deg);
            opacity: 1;
            transition: .7s;
        }

        &.comment-submit {
            background: #2ab27b !important;
            width: max-content;
            border-radius: rem-calc(4);
            font-weight: 600;
            font-family: 'Noto Sans KR', sans-serif;
            padding: rem-calc(0) rem-calc(48);
        }

        &.admin-panel {
            font-size: rem-calc(14);
            color: $black;
            border-radius: rem-calc(4);
            padding: rem-calc(4) rem-calc(8);
            margin-right: rem-calc(12);
            border: solid rem-calc(1) #3c3f41;
            background: none  !important;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }

        &.show {
            background: #2ab27b;
        }

        &.edit {
            background: #2ab27b;
        }

        &.update {
            background: #2ab27b;
        }

        &.delete {
            background: #ff5a60;
        }

        &.save {
            background: #2ab27b;
        }

        &.index {
            background: #2ab27b;
            width: rem-calc(120);

            .fa-angle-double-left {
                padding-right: rem-calc(6);
            }
        }

        &.create {
            background: #2ab27b;
        }

        &.category {
            background: #ff9c57;
        }

        &.tag {
            background: #ff9c57;
        }
    }
}

.form-group {
    #category, #tag {
        width: 100%;
        height: rem-calc(34);
        margin: rem-calc(8) 0;
    }
}
